<div class="container">
  <h1>Scoreboard</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>User</th>
        <th>Category</th>
        <th>Score</th>
      </tr>
    </thead>

    <tbody>
      <% @participations.each_with_index do |participation, index| %>
        <tr>
          <td>#<%= index + 1 %></td>
          <td><%= participation.user.email %></td>
          <td><%= participation.category %></td>
          <td><%= participation.score %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
