<div class="container">
  <h1>History Scoreboard: Game One</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>User</th>
        <th>Category</th>
        <th>Score</th>
      </tr>
    </thead>

    <tbody>
       <% @participations_history.each do |participation_history| %>
    <tr>
      <td>#<%= participation_history.id + 1 %></td>
      <td><%= participation_history.user.username %></td>
      <td><%= participation_history.category %></td>
      <td><%= participation_history.score %></td>
    </tr>
  <% end %>
    </tbody>
  </table>
</div>

