<div class="container">
  <%= content_tag 'h1', session[:category] + ' scoreboard', id: "triviah1" %> 
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Rank</th>
        <th>User</th>
        <th>Category</th>
        <th>Score</th>
      </tr>
    </thead>

    <tbody>
       <% @participations.each do |participation| %>
    <tr>
      <td></td>
      <td><%= participation.user.username %></td>
      <td><%= participation.category %></td>
      <td><%= participation.score %></td>
       <% end %>
    </tr>

    </tbody>
  </table>
</div>

<script>

var table = document.getElementsByTagName('table')[0],
    rows = table.getElementsByTagName('tr'),
    text = 'textContent' in document ? 'textContent' : 'innerText';
console.log(text);

for (var i = 1, len = rows.length; i < len; i++){
    rows[i].children[0][text] = i + rows[i].children[0][text];
}

</script>

