<div class="container">

<h1>Unified Source for Posting Questions/Answers in New TopDog World</h1>
<p>Stuff!</p>

<a class="btn btn-primary btn-lg" <%= link_to "Enter New Questions", new_triviabuilder_path %> </a>

</div>