 <div class="container">
 	<h1 class="boardtitle">Your Next Games</h1>

 	<table class="table table-striped">
 		<thead>
 			<tr>
 				<th>Category</th>
 				<th>Game Time</th>
 				<th>Purse</th>
 			</tr>
 		</thead>

 		<tbody>
			<% @games.each do |game| %>
	    <tr>
	      <td id="firstcol"><%= game.name %></td>
	      <td><%= game.starts_at %>
	      <td><%= link_to "Play &raquo;".html_safe, lobby_path(id: game.id), class: "btn btn-primary btn-md" %></td>
	      	  <% end %>
	    </tr>
	  </tbody>
	  </table>



</div>

