 <div class="container">
 	<div class="header2">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
				                        <%= image_tag("medal.png", class: "img-responsive middle") %> 
				                        	<h1 class="boardtitle" style="color: black">Upcoming Games</h1>
				                         <hr class="star-primary">
				       </div>
				       </div>
				       </div>
				    </div>

 	<table class="table table-striped">
 		<thead>
 			<tr>
 				<th>Category</th>
 				<th>Game Time</th>
 				<th>Purse</th>
 			</tr>
 		</thead>

 		<tbody>
			<% @others.each do |other| %>
	    		<tr>
	      			<td id="firstcol"><%= other.name %></td>
	      			<td><%= other.starts_at %>
	      			<td><%= link_to "Play &raquo;".html_safe, lobby_path(id: other.id), class: "btn btn-primary btn-md" %></td>
	      	  <% end %>
	      	  </tr>
	  </tbody>
	  </table>

<br>



</div>

