<div class="container">

<div class="jumbotron">
<h2>About TopDog Trivia </h2> 
<h3>It all started in a casino.</h3>
<p>This is who we are. We are aiming to build the most dynamic, exciting online gaming experience for trivia fans.</p>
</div>



</div>

