<div class="container">

<div class="jumbotron">
<h2>About TopDog Trivia </h2> 
<p>This is who we are. We are aiming to build the most dynamic, exciting online gaming experience for trivia fans.</p>
<p>We are serious pub trivia fans who wanted the opportunity to play trivia -- for prizes -- on-demand whenever we felt like. As a result, welcome to TopDog Trivia.</p> 
<h3>The Team</h3> 
<p>Here is a brief history of the members of our team. We hope to continue growing with your help, so keep supporting the TopDog product and spreading the word.</p>
<h4>TopDog: A Brief History</h4> 
<p>TopDog was founded in 2015</p> 
</div>

  </div> 
  <!-- end container --> 

</div>



</div>


<script>



 </script>

