<div class="container">

<div class="jumbotron">
<h2 style="text-align: center"><b>TopDog Questions</h2> 

<p><b></b></p>

<h2><b>Special Alert: Referral Bonus!</b></h2>
<p>Now that we are a couple days in, we are off to a great start. I want to be able to offer more games as part of this Alpha Test, which is where you come in. Now, as part of our signup, new players can put in a friend's first name or username, and you both will earn another <b>5 TopDollars</b> towards your total. It's already in the form. Just let your friend know to put your name down when you send them the link, and I'll take care of the rest (within 24 hours).</p>

<h2 style="text-align: center"><b>FAQs</h2> 

<p><b>Q: What is this?</b></p>
<p>As you are aware, I am a big fan of trivia. I think the current apps and games aren't very good. TopDog is an effort to allow people who love trivia to compete for real cash prizes. You are helping TopDog with its alpha test. All of the features and cool things aren't done yet, but you will play for real gift cards as a reward for helping test the system.</p>

<p><b>Q: Prizes? Really?</b></p>
<p>Hell yeah. Check them out in the Alpha HQ. At the end of our first week (aka Wave 1), I will distribute prizes to the winners. There may be additional waves for prizes. Winners are determined by accumulating the most TopDollars over the test week by playing games and using your skill to win.</p>

<p><b>Q: Something went wrong. What do I do?</b></p>
<p>As stoked as I am for y'all to win some gift cards playing trivia, I am really hoping to get some good feedback if you encounter any bugs or have ideas to make the game even more fun. We even have a page for easily submitting your thoughts for review <b><%= link_to "right here!", new_feedback_path %></b> This was designed by a Political Science major, after all...</p>

<p><b>Q: I see money signs. Do I have to pay?</b></p>
<p>Not right now. This is just the test. Think of your "Wallet" as points. The players with the most TopDollars accumulated at the end of Wave 1 will earn the prizes. Choose your games wisely.</p>


</div>

  </div> 
  <!-- end container --> 

</div>



</div>


<script>



 </script>

