<div class="container">

<div class="jumbotron">
<h2>About TopDog Trivia </h2> 
<p>This is who we are. We are aiming to build the most dynamic, exciting online gaming experience for trivia fans.</p>
<p>We are serious pub trivia fans who wanted the opportunity to play trivia -- for cash -- on-demand whenever we felt like. As a result, welcome to TopDog Trivia.</p> 
<h3>The Team</h3> 
<p>Here is a brief history of the members of our team. We hope to continue growing with your help, so keep supporting the TopDog product and spreading the word.</p>
<h4>TopDog: A Brief History</h4> 
<p>TopDog was founded in 2015</p> 
</div>

<div id="trivia">

  </div> 

</div>



</div>


<script>

/*

$.getJSON('/trivia_demos.json', function(data) {
var items = [];  
$.each(data, function (item, i) {
items.push('<p style="font-weight: bold" id="">' + ' Question ' + i.order + ' - ' + i.question + '</p>');
items.push('<input type="checkbox" id="">' + ' A1: ' + i.answer1 + '</p>');
items.push('<input type="checkbox" id="">' + ' A2: ' + i.answer2 + '</p>');
items.push('<input type="checkbox" id="">' + ' A3: ' + i.answer3 + '</p>');
items.push('<input type="checkbox" id="">' + ' A4: ' + i.answer4 + '</p>');
items.push('<p style="color: red" id="answers">' + ' Correct Answer: ' + i.correcta + '</p>');

});


$('<p/>', {
'class': 'my-new-list2',
html: items.join('')
}).appendTo('#trivia');

}); 

*/


 </script>

