<div class="container"> 

<h1>Pages#barker</h1>
<p>Find me in app/views/pages/barker.html.erb</p>

<div id="raysDemoHolder">
		<a href="/" id="raysLogo">David Walsh Blog</a>
		<div id="rays"></div>
	</div>

</div>

</div>


