<div class="container">
	<div class="jumbotron">
		<h1>Contact Us</h1>
			<h2>Our preferred contact method will be email.</h2>
			<h3>More information about our customer service process in case we ever have a problem.</h3> 
	</div> 

</div>