<div class="container">
	<div class="jumbotron">
		<h2>Contact Us</h2>
			<h4>Our preferred contact method will be email.</h4>
			<p>We also can be contacted by our phone number available here. Our email responses will receive a reply within 24 hours on business days.</p>
			<h4>More information about our customer service process in case we ever have a problem.</h4> 
			<p>We aim to offer exemplary customer service to be an elite gaming experience for our players. This guide will layout how to address any issues you may be experiencing.</p>
	</div> 


</div>

<script> 


</script> 