<div class="container">
	<div class="jumbotron">
		<h2>Contact Us</h2>
			<h4>Our preferred contact method will be email.</h4>
			<p>We also can be contacted by our phone number available here. Our email responses will receive a reply within 24 hours on business days.</p>
			<h4>More information about our customer service process in case we ever have a problem.</h4> 
			<p>We aim to offer exemplary customer service to be an elite gaming experience for our players. This guide will layout how to address any issues you may be experiencing.</p>
	</div> 

<div id="test"></div>

<button id="next">next question</button>

</div>

<script> 


var number = [0]

(function () {
	var q = $.getJSON('/trivia_demos.json', function(data) { 
		$.each(data, function (item, i) {
		items.push('<input type="checkbox" id="">' + ' A1: ' + i.answer1 + '</p>');
	});
	});
	var display = q[number]; 
	document.getElementById('test').innerHTML = display;
    number++;



}));

document.getElementById('next').onclick=function () {
    var q = $.each(data, function (item, i) {
		items.push('<input type="checkbox" id="">' + ' A1: ' + i.answer1 + '</p>');
	});
    var display = q[number];
    document.getElementById('test').innerHTML = display;
    number++;
}//function to jump to next item in array

</script> 