<div class="container">
	<div class="jumbotron">
		<h2>Contact Us</h2>
			<h4>Our preferred contact method will be email.</h4>
			<p>We also can be contacted by our phone number available here. Our email responses will receive a reply within 24 hours on business days.</p>
			<h4>More information about our customer service process in case we ever have a problem.</h4> 
			<p>We aim to offer exemplary customer service to be an elite gaming experience for our players. This guide will layout how to address any issues you may be experiencing.</p>
	</div> 

</div>


<div id="trivia">
    <!-- Question will appear here -->
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript">

$.getJSON('/trivia_demos.json', function(json) {

	data = json; 

	var quiz_all = data.length;
	var quiz_pass = 0;
	var score = 0;

	var container = $('#trivia');

	function update_quiz(index)
		{
		    var quiz = data[index];
		    
		    var q_topic = quiz.question;
		    var q_ans = quiz.answers;
		    var q_right = quiz.correcta;
		    
		    container.empty();
		    
		    var q_topic_container = $('<div>').append((quiz_pass + 1) + ':' + q_topic);
		    
		    container.append(q_topic_container);
		    
		    $.each(q_ans, function (index, value)
		    {
		        var q_ans_item = $('<button>').html(value).on('click', function (e)
		        {
		            if (index == q_right)
		            {
		                alert('Correct');
		                
		                score += 1;
		            }
		            else
		            {
		                alert('Wrong!!!');
		            }
		            
		            quiz_pass += 1;
		            
		            if (quiz_pass < quiz_all)
		            {
		                // load next quiz
		                update_quiz(quiz_pass);
		            }
		            else
		            {
		                // end of quiz
		                container.html('You got ' + score + ' from ' + quiz_all + ' questions.');
		            }
		        });
		        
		        var q_ans_container = $('<div>').html(q_ans_item);
		        
		        container.append(q_ans_container);
		    });
			}

		update_quiz(0);

			}); 


</script>