<div class="container">

<div class="jumbotron">

<div id="trivia">
    <!-- Question will appear here -->
</div>

</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript">

$.getJSON('/histories.json', function (data)

{
    var quiz_all = data.length;
    var quiz_pass = 0;
    var score = 0;

    var container = $('#trivia');

    function update_quiz(index)
    {
            var quiz = data[index];
            
            var q_topic = quiz.question;
            var q_ans = quiz.answers.split(',');
            var q_right = parseInt(quiz.correcta, 10) - 1;
            
            container.empty();
            
            var q_topic_container = $('<div>').append((quiz_pass + 1) + '.  ' + q_topic);
            
            container.append(q_topic_container);
            
            $.each(q_ans, function (index, value)
            {
                value = value.trim();
              
                var q_ans_item = $('<button class="btn btn-primary-questions">').html(value).on('click', function (e)
                {
                    if (index == q_right)
                    {
                        alert('Correct');
                        
                        score += 1;
                    }
                    else
                    {
                        alert('Wrong!!!');
                    }
                    
                    quiz_pass += 1;
                    
                    if (quiz_pass < quiz_all)
                    {
                        // load next quiz
                        update_quiz(quiz_pass);
                    }
                    else
                    {
                        // end of quiz
                        container.html('You got ' + score + ' from ' + quiz_all + ' questions.');
                    }
                });
                
                var q_ans_container = $('<div>').html(q_ans_item);
                
                container.append(q_ans_container);
            });
    }

    update_quiz(0);
}); 

</script>
