<!-- upcoming history battles --> 

<div class="container">

  <h1 id="hubtext">History Battles: Today's Table</h1> 

  <p>The table for today's <b>History Battles</b> is listed below with corresponding start times (in Eastern Standard Time). Register as early as you would like, but all trivia battles will start at the time listed below.</p> 

	<table class="table table-striped">
  <thead>
    <tr>
      <th>Game</th>
      <th>Topic</th>
      <th>Start Time</th>
      <th>Entry Fee</th>
      <th>Trophy</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>Game 1</td>
        <td>History: General Knowledge</td>
        <td>5:00 PM</td>
        <td>5 Points</td>
        <td>100 Points</td>
        <td><%= link_to "Play Game 1 &raquo;".html_safe, historytrivia_path, class: "btn btn-primary btn-md" %></td>

      </tr>
      <!-- end game 1 --> 

        <tr>
        <td>Game 2</td>
        <td>U.S. History</td>
        <td>6:00 PM</td>
        <td>2 Points</td>
        <td>50 Points</td>
        <td><a class="btn btn-primary btn-md" href="#" role="button">Play Game 2 &raquo;</a></td>
      </tr>
      <!-- end game 2 --> 

        <tr>
        <td>Game 3</td>
        <td>American Presidents</td>
        <td>7:30 PM</td>
        <td>1 Point</td>
        <td>150 Points</td>
        <td><a class="btn btn-primary btn-md" href="#" role="button">Play Game 3 &raquo;</a></td>
      </tr>
      <!-- end game 3 --> 

        <tr>
        <td>Game 4</td>
        <td>World History</td>
        <td>8:40 PM</td>
        <td>2 Points</td>
        <td>1000 Points</td>
        <td><a class="btn btn-primary btn-md" href="#" role="button">Play Game 4 &raquo;</a></td>
        </tr>
  </tbody>
</table>

</div> 