<div class="container">
	<div class="jumbotron">

	<%= content_tag 'h1', session[:category] + ' Registration', id: "lobbytext" %> 

	 <div class="row">
	 	<div class="col-lg-6" style="padding-right:20px; border-right: 1px solid #ccc;">
	 		<h2 style="text-align: center;">Game Registration</h2>

	 		
	 		<% if Reservation.where(user_id: current_user.id, category: session[:category]).exists? %>
  				<%= link_to "Enter Game".html_safe, historytrivia_path(category: session[:category]), class: "btn btn-primary btn-lg" %>

			<% else %>
	 			<%= link_to "Reserve Spot".html_safe, reservation_path(category: session[:category]), class: "btn btn-primary btn-lg" %>
			<% end %> 
	 		
	 		<p>Players Registered: 	<%= SpotCounter.where(category: session[:category]).first.count %></p> 
	 		<p>Maximum Players: 25 Users</p>
	 	</div>

	 	<div class="col-lg-6">

	 		<h2 style="text-align: center;">Game Information</h2>
	 		<p>Category: [Dynamic]</p>
	 		<p>Start Time: [Dynamic]</p>
	 		<p>Max Players: [Dynamic]</p>
	 		<p>Prize Info: [Dynamic]</p>

	 	</div>

	 </div> 
	
</div>

</div>