    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">TopDog Trivia</span>
                        <span class="skills">Real Cash - Pro Trivia - Prove It</span>
                        <hr class="star-light">
                            <% if user_signed_in? %>
                            <div class="button-wrap">
                                 <%= button_to "TopDog Lobby", triviahub_path, :class => "rad-button2 wwt flat", :method => :get %>
                            </div>
                    <% else %> 
                       <div class="button-wrap">
                              <%= button_to "Sign Up", new_user_registration_path, :class => "rad-button2 wwt flat", :method => :get %>
                              <% end %> 
                            </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </header>


<div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Why TopDog?</h2>
                    <hr class="star-primary">
                    <p>Text here</p>
                 
                </div>
            </div>
        </div>

  


     
