<div class="container">

	<div class="jumbotron">
		<h1>Legal</h1>
		<h2>This is the first line of the text about our legal framework for this operation.</h2>
		<h3>First line of a Q&A question</h3>
		<h4>Response to a question right here in smaller text. Here are some links about the business.</h4>
	</div>
</div>