<div class="container">

	<div class="jumbotron">
		<h2>Legal</h2>
		<h3>This is the first line of the text about our legal framework for this operation.</h3>
		<h3>Frequently Asked Questions</h3>
		<h4>Is this legal in the US?</h4>
		<p>Yes, it is.</p>
		<h4>How Do I Get Paid?</h4>
		<p>You can read more about our payment procedure here. In a nutshell, by linking your player's account to your bank, you can receive the fastest payments as long as you have a minimum of $10 in your account.</p>
	</div>


</div>
