<div class="container">

	<div class="jumbotron">
		<h2>Legal</h2>
		<h3>This is the first line of the text about our legal framework for this operation.</h3>
		<h3>Frequently Asked Questions</h3>
		<h4>Is this legal in the US?</h4>
		<p>Yes, it is.</p>
		<h4>How Do I Get Prizes?</h4>
		<p>Filler information here for our example project...</p>
	</div>


</div>
