<div class="container">

<div id="firstlayer">

          <h1 id="hometext">Congratulations! You're In.</h1> 
          <h2 id="hometext2">Head Back to the Lobby. Become TopDog.</h2>
      </div>

<%= link_to "Back".html_safe, historylobby_path(category: session[:category]), class: "btn btn-primary btn-lg" %>

</div>