<div class="container">

<div id="firstlayer">

          <h1 id="hometext">Congratulations! You're In.</h1> 
          <h2 id="hometext2">Head Back to the Lobby. Become TopDog.</h2>
      </div>

<%= link_to "To Lobby &raquo;".html_safe, lobby_path(category: session[:category]), id: "lobbybutton", class: "btn btn-danger btn-lg" %>

</div>