<div class="container">

<div id="firstlayer">

          <h1 id="hometext">Congratulations! You're In.</h1> <br>
          <h2 id="hometext2">Head Back to the Lobby. Become TopDog.</h2> <br>
      </div>

<%= link_to "To Lobby &raquo;".html_safe, lobby_path(id: params[:id]), id: "lobbybutton", class: "btn btn-danger btn-lg" %> <br>

</div>