<div class="container">

<div class="jumbotron">

<h1 id="triviah1">Sports 1 Battle</h1> 

<div class="row">
<div class="col-md-8">
    <!-- Commenting out horizontal line <hr /> --> 
        <div id="trivia">
    <!-- Question will appear here -->
    </div>


</div> 

<div class="col-md-4">
    <div class='timer'>
        Time Left: <strong></strong> <br>
    </div>
</div> 
</div>
<p style="text-align: center"><b>Remember:</b> There is no penalty for wrong answers.</p> 


</div>

</div>
<!-- hide dynamic content --> 
<%= content_tag :div, class: "temp_information", data: {temp: scoreboard_path(category: "sports1")} do %>
<% end %>

<script type="text/javascript">
  $(function() {
    new Histories().init();
  })
</script>
