<!-- upcoming history battles --> 

<div class="container">

  <h1 id="hubtext">Sports Battles: Today's Table</h1> 

  <p>The table for today's <b>Sports Battles</b> is listed below with corresponding start times (in Eastern Standard Time). Register as early as you would like, but all trivia battles will start at the time listed below.</p> 

	<table class="table table-striped">
  <thead>
    <tr>
      <th>Game</th>
      <th>Topic</th>
      <th>Start Time</th>
      <th>Entry Fee</th>
      <th>Trophy</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>Game 1</td>
        <td>Sports 1</td>
        <td>5:00 PM</td>
        <td>5 Points</td>
        <td>100 Points</td>
        <td><%= link_to "Play Game 1 &raquo;".html_safe, lobby_path(category: 'sports 1'), class: "btn btn-primary btn-md" %></td>

      </tr>
      <!-- end game 1 --> 

        <tr>
        <td>Game 2</td>
        <td>Sports 2</td>
        <td>6:00 PM</td>
        <td>2 Points</td>
        <td>50 Points</td>
        <td><%= link_to "Play Game 2 &raquo;".html_safe, lobby_path(category: 'sports 2'), class: "btn btn-primary btn-md" %></td>
      </tr>
      <!-- end game 2 --> 

        <tr>
        <td>Game 3</td>
        <td>Sports 3</td>
        <td>7:30 PM</td>
        <td>1 Point</td>
        <td>150 Points</td>
        <td><%= link_to "Play Game 3 &raquo;".html_safe, lobby_path(category: 'sports 3'), class: "btn btn-primary btn-md" %></td>
      </tr>
      <!-- end game 3 --> 

        <tr>
        <td>Game 4</td>
        <td>Sports 4</td>
        <td>8:40 PM</td>
        <td>2 Points</td>
        <td>1000 Points</td>
        <td><%= link_to "Play Game 4 &raquo;".html_safe, lobby_path(category: 'sports 4'), class: "btn btn-primary btn-md" %></td>
        </tr>
  </tbody>
</table>

</div> 