<div class="container">

<div class="jumbotron">

<h1 id="triviah1">TopDog Trivia: Sports Battle</h1> 

<p>When the Sports Battle begins, click on your selected answer before the clock runs out, or you will move to the next question. <b>Watch the timer</b> on the right.</p>

<p><b>Remember:</b> There is no penalty for wrong answers.</p>

<div class="row">
<div class="col-md-8">
    <!-- Commenting out horizontal line <hr /> --> 
        <div id="trivia">
    <!-- Question will appear here -->
    </div>


</div> 

<div class="col-md-4">
    <div class='timer'>
        Time Left: <strong></strong> <br>
    </div>
</div> 
</div> 


</div>

</div>

<script type="text/javascript">
  $(function() {
    new Sports().init();
  })
</script>