
        <div class="container">

        <% @questions.each do |question| %>
          <p>Question: <%= question.question_text %></p>
        <% end %> 

         <% @answers.each do |answer| %>
          <p>Answer: <%= answer.answer_text %></p>
        <% end %> 
  

   </div>