<div class="se-pre-con">

</div>

<div class="container">

<div class="jumbotron">

  <%= content_tag 'h2', session[:category] + ' Battle', id: "triviah1" %> 

<div class="row">
<div class="col-md-8">
    <!-- Commenting out horizontal line <hr /> --> 
        <div id="trivia">
    <!-- Question will appear here -->
    </div>


</div> 

<div class="col-md-4">
    <div class='timer'>
        Time Left: <strong></strong> <br>
    </div>

    <div id="outer">
    <div id="inner">
</div>
</div>

   
</div> 
</div>
<p style="text-align: center"><b>Remember:</b> There is no penalty for wrong answers.</p> 


</div>

</div>

<!-- hide dynamic content --> 
<%= content_tag :div, class: "temp_information", data: {temp: scoreboard_path(category: session[:category])} do %>
<% end %>

  
<script>

$(document).ready(function() {
   window.setTimeout("fadeMyDiv();", 1400); //call fade in 3 seconds
 }
)

function fadeMyDiv() {
   $(".se-pre-con").fadeOut('medium');
}

  </script>

<script type="text/javascript">

  $(function() {
    new Histories().init();
  })

 
</script>

<!--
var height = 50;
var timePassed = 0;
var totalSeconds = 7;

var reduceHeight = function(elem, totalSeconds){
  timePassed++;
  height = 100 - ( ( timePassed/totalSeconds ) * 100 )
  elem.css({height: height + "%"});
  if(height > 0){
    window.setTimeout(function(){
      reduceHeight(elem, totalSeconds)
    }, 1000)
  }
}

$(document).ready(function(){
  var inner = $('#inner');
  
  reduceHeight(inner, 20);
});

--> 
