


<div class="container">

	<div class="jumbotron">
		<h1>Trivia Headquarters</h1>
		<h2>This is where you will be able to find the different games of the day.</h2>
		<h4>Response to a question right here in smaller text. Here are some links about the business.</h4>

	</div>


    <!-- First Trivia Construction --> 

    <div id="content">
           <h3 id="question"></h3>
           <div id="choices"></div>
           <p><button id="submit"></button></p>
           <p id="score"></p>
        </div>

    <button id="btn-click" type="submit" class="btn btn-primary btn-lg"> Take History Quiz </button>

</div>

<script> 

$(document).ready(function() {

$("#content").hide(); 

$("#btn-click").click(function(e) {
  $("#content").show();
  $("#btn-click").hide();
}
  );

}); 

</script>





	