<div class="container">

	<div class="jumbotron">
		<h1>Trivia Headquarters</h1>
		<h2>This is where you will be able to find the different games of the day.</h2>
		<h4>Response to a question right here in smaller text. Here are some links about the business.</h4>
	</div>
</div>