


<div class="container">

	<div class="jumbotron">
		<h1>Trivia Headquarters</h1>


		<h2>This is where you will be able to find the different games of the day.</h2>
		<h4>Response to a question right here in smaller text. Here are some links about the business.</h4>

	</div>


  <%= link_to "History", history_path, class: "btn btn-primary btn-lg" %>


<p> JSON Quiz V2</p> 

<div id="example2">
	</div>


</div> 


<script> 


$.getJSON('/trivia_demos.json', function(data) {
var items = [] 
$.each(data, function (item, i) {
items.push('<p id="">' + ' Question ' + i.order + ' - ' + i.question + '</p>');
items.push('<input type="checkbox" id="">' + ' A1: ' + i.answer1 + '</p>');
items.push('<input type="checkbox" id="">' + ' A2: ' + i.answer2 + '</p>');
items.push('<input type="checkbox" id="">' + ' A3: ' + i.answer3 + '</p>');
items.push('<input type="checkbox" id="">' + ' A4: ' + i.answer4 + '</p>');
items.push('<input type="checkbox" id="">' + ' Correct Answer: ' + ' - ' + i.correcta + '</p>');
});


$('<p/>', {
    'class': 'my-new-list2',
    html: items.join('')
 	}).appendTo('#example2');

  });

	
</script> 






	