<div class="container">

	<h1>Trivia Maker Portal</h1>

		<div class="jumbotron">
  			<p>This is the main access point for the demo to build trivia quiz json files using our interface. Each quiz will output a json file that corresponds to a game.</p>

  			<p style="text-align: center"><b>Master Trivia Builder</b></p>
  				<a class="btn btn-primary btn-lg" <%= link_to "The Quiz Builder (Histories)", histories_path %> </a> <br><br>
				<a class="btn btn-primary btn-lg" <%= link_to "Model Dashboard (Quizzes)", quizzes_path %> </a>

  		<!-- for two column button display, removed
		<div class="row">
			<div class="col-md-6">
			</div>
		</div> 
		<!-- end grid row --> 

	</div>
	<!-- end jumbo-->
</div>
<!-- end container --> 