<div class="container">

	<h1>Trivia Maker Portal</h1>

		<div class="jumbotron">
  			<p>This is the main access point for the demo to build trivia quiz json files using our interface. Each quiz will output a json file that corresponds to a game.</p>

		<div class="row">
			<div class="col-md-6">
				<a class="btn btn-primary btn-lg" <%= link_to "History Game 1 Maker", histories_path %> </a>
			</div>
			<!-- end left col --> 
			<div class="col-md-6">
				<a class="btn btn-primary btn-lg" <%= link_to "Sports Game 1 Maker", sports1s_path %> </a>
			</div>
			<!-- end right col --> 
		</div> 
		<!-- end grid row --> 

	</div>
	<!-- end jumbo-->
</div>
<!-- end container --> 