<div class="container">

	<div class="jumbotron">
		<h1>Trivia Headquarters</h1>
		<h2>This is where you will be able to find the different games of the day.</h2>
		<h4>Response to a question right here in smaller text. Here are some links about the business.</h4>

	<div id="trivia">
		 <div id="tcateg">Trivia Category:</div>
		 <div id="quiz"><h3>Welcome to Trivia Game</h3><strong>Levels:</strong>
		 <ul><li>Level 1 - Easy - It is displayed a list of answers to each quiz. Click the correct answer.</li>
		 <li>Level 2 - Difficult - It is displayed a text box in which you must write the answer, then click on Send button.</li></ul>
		 <strong>Mode</strong>
		 <ul><li>Consecutive - The quiestions start from the quiz with index number added into a text field, and are added in their order till the last quiz.</li>
		 <li>Random - The quizzes are choosed randomly, till the last quiz, without repeat.</li></ul>
		 &bull; <strong>Countdown Timer</strong> - If that button is checked, you have 15 seconds to answer till the next quiz is added automatically.<br/><br/>
		 - Click the Start button to start the quizzes. The Reset button resets the Trivia.
		 <div id="tfrom">From: <a href="http://coursesweb.net/" title="Web Programming and Development Courses">http://CoursesWeb.net</a></div></div>
		 <div id="answered">
		  <h4>Quizzes: <em id="nqansw">0</em> of <span id="ntotalq"></span></h4>
		  <span id="nca">0</span> - Correct answers<br/>
		  <span id="nia">0</span> - Incorrect answers
		 </div>
		 <div id="qdata">
		  <label for="level1"><input type="radio" name="level" id="level1" checked="checked" />Level 1</label>
		  <label for="level2"><input type="radio" name="level" id="level2" />Level 2</label>
		  <h4>Mode</h4>
		  <label for="qindex"><input type="radio" name="qmode" id="qindex" checked="checked" />Consecutive</label>
		  <div id="startqn">From <input type="text" size="1" name="nquiz" id="nquiz" value="1" /> to <span id="totalq"></span></div>
		  <label for="qrandom"><input type="radio" name="qmode" id="qrandom" />Random</label>
		  <label for="qctimer"><input type="checkbox" id="qctimer" />Countdown Timer</label><hr/>
		  <button id="squiz">Start</button>
		  <button id="treset" disabled="disabled">Reset</button>
 </div>
</div>

<!--- This should not be necessary with the trivia update 
<script type="text/javascript" src="/trivia.js"></script>

-->

	</div>
</div>