<div class="container">


<%= form_for(Question.new , url: triviabuilders_path) do |f| %>
  <%= f.label :question_text %>
  <%= f.text_field :question_text %>

  <div class="form-group">
  <div class="actions">
    <%= f.submit class: "btn btn-primary btn-lg submitquestion" %>
  </div>
  </div>
  <% end %>






