<div class="container">

<div class="panel panel-default">
	<div class="panel-heading">
		<h1>Create a Trivia Question</h1>
	</div>

		<div class="panel-body">
		<h3>Currently Building for Quiz: Demo.</h3>
	</div>
</div>



<%= render 'form' %>


<%= link_to 'Back to Trivia Panel', trivia_demos_path %>

</div>

</div>
